<?php

namespace EdmondsCommerce\MagentoModuleVersions;

class Module extends AbstractModule
{
    public function getSelector()
    {
        return '';
    }

    public function cleanVersionNumber($versionNumber)
    {
        return $versionNumber;
    }
}